@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --brand-red: #ff4242;
  --vector: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-red: var(--brand-red);
  --color-vector: var(--vector);
  --font-sans: var(--font-jersey-10);
  --font-mono: var(--font-geist-mono);
  --breakpoint-md: 810px;
  --breakpoint-lg: 1200px;
  }

html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jersey-10), ui-sans-serif, system-ui, sans-serif;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

/* Hide Next.js dev mode indicator button */
#__next-build-watcher,
.__next-dev-overlay {
  display: none !important;
}

/* Hide scrollbars while maintaining scroll functionality */
* {
  /* Firefox */
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  /* Chrome, Safari, Edge */
  display: none;
  width: 0;
  height: 0;
}
